<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Congo Numérique - Le premier portail du numériqque en RDC</title>

  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/loader/loader.css"> <!-- LOADER CSS -->
  <script defer src="/loader/loader.js"></script> <!--  LOADER JS FILE-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
  <!--  LOADER SECTION -->
<div class="loader-container">
    <div class="loader"> </div>
</div>


  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item"><i class="desktop icon"></i>Congo Numérique</div>
      <a href="/blogs" class="item">Accueil</a>
      <a href="/blogs/new" class="item">Publication</a>
    </div>
  </div>

