<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Congo Numérique - Le premier portail du numériqque en RDC</title>

  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item">Congo Numérique</div>
      <a href="/" class="item">Accueil</a>
      <a href="/blogs/new" class="item">Publication</a>
    </div>
  </div>