<%- include ('partials/header'); %> <!--  Inclusion de Header-->

<div class="ui main text container segment">
  <div class="ui huge header">Ajouter un nouvel article</div>

  <!--  Formulaire édiion nouveau article -->
  <form class="ui form" action="/blogs" method="POST">
    <div class="field">
      <label>Titre</label>
      <input type="text" name="blog[title]" placeholder="Saisissez le titre">
    </div>

    <div class="field">
      <label>Image</label>
      <input type="text" name="blog[image]" placeholder="Ajoutez l'URL de l'image">
    </div>

    <div class="field">
      <label>Contenu de l'article</label>
      <textarea name="blog[body]"></textarea>
    </div>

    <input class="ui violet big basic button" type="submit">
  </form>
</div>

<%- include ('partials/footer'); %> <!--  Inclusion de Header-->