<%- include ('../partials/header'); %> <!--  Inclusion de Header-->

<div class="container main-register-form">
  <div class="row">
    <div class="col-md-4">

    </div>

    <div class="col-md-4">
      <div class="ui main text segment">
      <h1 class="text-center"> <i class="user icon"> </i>Se connecter</h1> 
      <form class="ui form" action="/users/connexion" method="POST">
        <div class="field">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" placeholder="Entrez votre e-mail"/>
        </div>
        <div class="field">
          <label>Mot de passe</label>
          <input type="password" name="password" placeholder="Entrez le mot de passe"/>
        </div>
        <button class="ui button" type="submit">Se connecter</button>
        <p>Vous n'avez pas de compte? <a href="inscription">Inscrivez-vous</a> </p>
      </form>
      </div>
    </div>

    <div class="col-md-4">

    </div>    
  </div>
</div>